<!doctype html>
<html lang="en" ng-app="singlepage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-bind="title"></title>
        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Oops! Something broke! :(</h1>
        <h2>Go find a programmer and show him the following:</h2>
        <pre>
        <%= error %>
        </pre>
    </body>
    </html>